<world>
  <window width="1280" height="720" />
  <camera>
    <position x="10" y="10" z="10" />
    <lookAt x="0" y="0" z="0" />
    <up x="0" y="1" z="0" />
    <projection fov="60" near="1" far="1000" />
  </camera>
  <group>
    <group>
      <transform>
        <scale x="1.5" y="1.5" z="1.5" />
      </transform>
      <models>
        <model file="sphere.3d" />
      </models>
    </group>
    <group>
      <transform>
        <translate x="7" y="0" z="0" />
        <scale x="0.0125" y="0.0125" z="0.0125" />
      </transform>
      <models>
        <model file="sphere.3d" />
      </models>
    </group>
    <group>
      <transform>
        <rotate angle="45" x="0" y="1" z="0" />
        <translate x="8" y="0" z="0" />
        <scale x="0.0375" y="0.0375" z="0.0375" />
      </transform>
      <models>
        <model file="sphere.3d" />
      </models>
    </group>
    <group>
      <transform>
        <rotate angle="90" x="0" y="1" z="0" />
        <translate x="9" y="0" z="0" />
        <scale x="0.05" y="0.05" z="0.05" />
      </transform>
      <models>
        <model file="sphere.3d" />
      </models>
      <group>
        <transform>
          <rotate angle="45" x="0" y="0" z="1" />
          <translate x="12" y="0" z="0" />
          <scale x="0.25" y="0.25" z="0.25" />
        </transform>
        <models>
          <model file="sphere.3d" />
        </models>
      </group>
    </group>
    <group>
      <transform>
        <rotate angle="135" x="0" y="1" z="0" />
        <translate x="10" y="0" z="0" />
        <scale x="0.025" y="0.025" z="0.025" />
      </transform>
      <models>
        <model file="sphere.3d" />
      </models>
    </group>
    <group>
      <transform>
        <rotate angle="180" x="0" y="1" z="0" />
        <translate x="19" y="0" z="0" />
        <scale x="0.5125" y="0.5125" z="0.5125" />
      </transform>
      <models>
        <model file="sphere.3d" />
      </models>
      <group>
        <transform>
          <rotate angle="45" x="0" y="0" z="1" />
          <translate x="7" y="0" z="0" />
          <scale x="0.02" y="0.02" z="0.02" />
        </transform>
        <models>
          <model file="sphere.3d" />
        </models>
      </group>
      <group>
        <transform>
          <rotate angle="25" x="0" y="1" z="1" />
          <translate x="7" y="0" z="0" />
          <scale x="0.04" y="0.04" z="0.04" />
        </transform>
        <models>
          <model file="sphere.3d" />
        </models>
      </group>
      <group>
        <transform>
          <rotate angle="-45" x="0" y="1" z="1" />
          <translate x="7" y="0" z="0" />
          <scale x="0.03" y="0.03" z="0.03" />
        </transform>
        <models>
          <model file="sphere.3d" />
        </models>
      </group>
      <group>
        <transform>
          <rotate angle="-70" x="" y="1" z="1" />
          <translate x="7" y="0" z="0" />
          <scale x="0.03" y="0.03" z="0.03" />
        </transform>
        <models>
          <model file="sphere.3d" />
        </models>
      </group>
    </group>
    <group>
      <transform>
        <rotate angle="225" x="0" y="1" z="0" />
        <translate x="30" y="0" z="0" />
        <scale x="0.4375" y="0.4375" z="0.4375" />
      </transform>
      <models>
        <model file="sphere.3d" />
        <model file="torus.3d" />
      </models>
      <group>
        <transform>
          <color x="1" y="1" z="1" />
          <rotate angle="45" x="0" y="0" z="1" />
          <translate x="7" y="0" z="0" />
          <scale x="0.004" y="0.004" z="0.004" />
        </transform>
        <models>
          <model file="sphere.3d" />
        </models>
      </group>
      <group>
        <transform>
          <color x="1" y="1" z="1" />
          <rotate angle="-45" x="0" y="1" z="1" />
          <translate x="7" y="0" z="0" />
          <scale x="0.04" y="0.04" z="0.04" />
        </transform>
        <models>
          <model file="sphere.3d" />
        </models>
      </group>
    </group>
    <group>
      <transform>
        <rotate angle="270" x="0" y="1" z="0" />
        <translate x="53" y="0" z="0" />
        <scale x="0.1875" y="0.1875" z="0.1875" />
      </transform>
      <models>
        <model file="sphere.3d" />
      </models>
    </group>
    <group>
      <transform>
        <rotate angle="315" x="0" y="1" z="0" />
        <translate x="70" y="0" z="0" />
        <scale x="0.175" y="0.175" z="0.175" />
      </transform>
      <models>
        <model file="sphere.3d" />
      </models>
    </group>
  </group>
</world>